<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tony Parker</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/client.js"></script>
</head>
<body>
    <form action="nothing">
        <textarea id="msg"></textarea>
        <button class="subm">Send message</button>
    </form>
</body>
</html>